.contentWrapper {
  display: flex;
  gap: 24px;
  margin-top: 48px;
  margin-bottom: 48px;
}

.mainContent {
  flex: 1;
}

@media (max-width: 1023px) {
  .contentWrapper {
    flex-direction: column;
  }
}

