.rating {
  display: flex;
  align-items: center;
  gap: 8px;
}

.stars {
  display: flex;
  gap: 2px;
}

.star {
  flex-shrink: 0;
  
  &.sm {
    width: 12px;
    height: 12px;
  }
  
  &.md {
    width: 16px;
    height: 16px;
  }
  
  &.lg {
    width: 20px;
    height: 20px;
  }
}

.text {
  font-size: var(--font-small-size);
  color: var(--color-muted);
}









