.stockLabel {
  display: flex;
  align-items: center;
  gap: 6px;
}

.icon {
  font-size: 16px;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  
  &.sm {
    font-size: 14px;
  }
  
  &.md {
    font-size: 16px;
  }
}

.text {
  font-size: var(--font-small-size);
  font-weight: 400;
}

.many .icon,
.enough .icon {
  color: var(--color-success);
}

.few .icon {
  color: var(--color-warning);
}

.none .icon {
  color: #9E9E9E;
}








