.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.productInfo {
  padding: 16px;
  background: var(--color-bg);
  border-radius: var(--radius-md);
  margin-bottom: 8px;

  p {
    margin-bottom: 8px;
    font-size: var(--font-base-size);

    strong {
      font-weight: 600;
      margin-right: 8px;
    }
  }
}

.actions {
  display: flex;
  gap: 12px;
  margin-top: 8px;
}


























